body {
  height: 100vh;
  margin: 0;
}
.wrapper-chat {
  box-sizing: border-box;
  height: 600px;
  width: 400px;
}
.wrapper-chat .header {
  border: 1px solid #cfcfcf;
  text-align: center;
  background: #cfcfcf;
}
.wrapper-chat .combobox {
  color: black;
  width: 100%;
  height: 30px;
  font-size: 15px;
  text-align: center;
  background: #cfcfcf;
}
.wrapper-chat .chat {
  background: #cfcfcf;
  overflow-y: scroll;
  height: 85%;
  min-height: 100px;
}
.wrapper-chat .chat .message {
  display: block;
  background-color: rgb(219, 243, 253);
  text-align: right;
  width: 350px;
  border-radius: 10px;
  padding: 4px;
  float: right;
  margin: 2px;
}
.wrapper-chat .chat .companion {
  display: block;
  background-color: rgb(231, 226, 226);
  width: 350px;
  border-radius: 10px;
  padding: 4px;
  float: left;
  margin: 1px;
}
.wrapper-chat .inputbox {
  height: 40px;
  min-height: 40px;
}
.inputbox {
  height: 34px;
  background-color: #cfcfcf;
  margin-top: 0px;
  & input {
    margin: 7px;
    height: 20px;
    width: 310px;
    font-size: 15px;
  }
  & button {
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    height: 25px;
  }
  & button:hover {
    background: rgb(199, 199, 199);
  }
}

#element::-webkit-scrollbar {
  width: 10px;
}

#element::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #cfcfcf;
  border-radius: 10px;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #9c9c9c, #464646);
}
