body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}
.wrapper {
  // border: 1px solid blue;
  height: 600px;
  width: 800px;
  display: flex;
}
.chatlist {
  border-right: 1px solid #1f2b3a;
  background: #101b27;
  height: 100%;
  width: 30%;
}
.wrapper-chat {
  // border: 1px solid #d9ff04;
  // box-sizing: border-box;
  height: 100%;
  width: 70%;
}

.header {
  text-align: center;
  background: #1f2b3a;
  height: 60px;
  width: 800px;
}
.menulist {
  display: flex;
  & li {
    list-style-type: none;
    padding: 1px 1px 1px 1px;
    margin: 0px 15px 1px 1px;
    & a {
      color: #fff;
      text-decoration: none;
    }
  }
}
.combobox {
  color: black;
  width: 100%;
  height: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.chat {
  display: flex;
  flex-direction: column;
  padding: 3px;
  background: #101b27;
  overflow-y: scroll;
  height: 541px;
}
.blocktext {
  display: flex;
  height: 100%;
  background: #101b27;
  & p {
    color: #fff;
    font-size: 15px;
    background-color: #275179;
    padding: 3px 12px 3px 12px;
    border-radius: 15px;
    margin: auto;
  }
}
.message {
  margin-right: 5px;
  max-width: 450px;
  min-width: 120px;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: auto;
  background-color: #275179;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 2px 5px 2px 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  & h2 {
    margin: 0px;
    color: #b4b4b4;
    font-size: 8px;
    padding-left: 3px;
  }
  & p {
    font-size: 8px;
    color: #b4b4b4;
    margin: 0px;
    text-align: right;
  }
}
.message::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom: 7px solid #275179;
}

.companion {
  margin-left: 15px;
  min-width: 120px;
  max-width: 450px;
  margin-right: auto;
  background-color: #182e44;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2px 5px 2px 5px;
  margin-bottom: 5px;
  position: relative;
  & h2 {
    margin: 0px;
    font-size: 8px;
    color: #b4b4b4;
    padding-left: 3px;
  }
  & p {
    font-size: 8px;
    color: #b4b4b4;
    margin: 0px;
    text-align: right;
  }
}
.companion::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom: 7px solid #182e44;
}

.css-1laqsz7-MuiInputAdornment-root {
  cursor: pointer;
}
.inputbox {
  background: #1f2b3a;
  margin-top: 0px;
  & input {
    margin: 7px;
    height: 20px;
    font-size: 15px;
  }

  & button {
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    height: 25px;
  }
  & button:hover {
    background: rgb(199, 199, 199);
  }
}

#element::-webkit-scrollbar {
  width: 10px;
}

#element::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(48, 86, 114, 0.5) inset;
  background-color: #101b27;
  border-radius: 8px;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(180deg, #275179, #275179);
}

.profileinput {
  display: block;
  margin: 10px;
}

.wrapperGists {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}
.wraper-gists {
  border: 1px solid black;
  width: 50%;
  padding: 10px;
}
